* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: white;
}

html {
    font-size: 62%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0px 2rem;
}

.hide{
    opacity: 0;
    filter: blur(5px);
    transition: all 0.7s;
}

.show{
    color: #b2b3b3;
    opacity: 1;
    filter: blur(0);
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    /* min-height: 100vh; */
}

.heading {
    color: white;
    font-size: 4.5rem;
    text-align: center;
    margin: 5rem 0;
}
.heading-footer {
    color: white;
    font-size: 2.1rem;
    text-align: center;
    margin: 5rem 0;
}


.heading span {
    padding: 1px 4px;
}

.process {
    padding: 6rem 200px 0px 200px;
    /* background: var(--second-bg-color); */
}

.process h2 {
    margin-bottom: 5rem;
}

.header {
    position: fixed;
    width: 100%;
    padding: 3rem 5% 2rem 1%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4.2rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.book-box {
    border: solid 0.2px #ffffff70;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    background-color: var(--bg-color);
}

.book {
    font-size: 1.5rem;
    position: relative;
    bottom: 3px;
    transition: 0.3 ease;
}

.book-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 9px;
}

.logo:hover {
    transform: scale(1.1);
}

.book-box:hover {
    border: solid 1px #ffffff;
}

.nav-a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.body-info {
    padding-top: 25rem;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
}

.body-info h1 {
    display: block;
    min-width: 520px;
    max-width: 600px;
    font-size: 5.4rem;
    background: rgb(8, 8, 8);
    background: linear-gradient(180deg, rgba(8, 8, 8, 1) 70%, rgba(185, 111, 253, 1) 90%);
    font-weight: 900;
    letter-spacing: -0.2rem;
    word-spacing: -0.4rem;
    max-height: 65px;
    padding: 0 7px;
}

.body-info p {
    font-size: 1.8rem;
    padding: 10px 12rem;
    color: #b3b2b2;
    margin: 0 5rem;
    font-weight: 700;
}

#body-text{
    padding-top: 4rem;
    height: 40vh;
}

.body-highlight{
    color: #b96ffd;
}

p.quote{
    margin-top: 120px;
    font-size: 2rem !important;
    font-weight: 900;
    color: var(--main-color) !important;
}
.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.ag-timeline_item {
    margin: 0 0 50px;
    position: relative;
}

.ag-timeline_item:nth-child(2n) {
    text-align: right;
}

.ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.ag-timeline_line {
    width: 11px;
    background-color: #393935;
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
    overflow: hidden;
    transform: translateX(-50%);
}

.ag-timeline_line-progress {
    width: 100%;
    height: 10%;
    background-color: #b96ffd;
}

.ag-timeline-card_box {
    padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
    display: inline-block;
    margin: 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid white;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 26px);
    top: calc(50% - 20px);
}

.js-ag-active .ag-timeline-card_point {
    background-color: var(--main-color);
    box-shadow: 0 5px 15px var(--main-color);
}

.timeline-item {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    padding: 0px 40px;
}

.timeline-item:last-child {
    margin-bottom: 0px;
}

.timeline-dot {
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    position: absolute;
    left: calc(50% - 14px);
    border-radius: 50%;
    top: calc(50% - 20px);
}

.timeline-content {
    background-color: #b3b2b235;
    border: solid white 1px;
    padding: 30px 50px;
    /* border-radius: 1rem; */
    box-shadow: 0 0 5px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0px var(--main-color);
}

.timeline-content h3 {
    font-size: 23px;
    color: white;
    margin: 0 0 20px;
    font-weight: 700;
    text-align: left;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.ag-timeline-card_point-box,
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
    position: absolute;
    left: calc(50% - 7px);
    top: calc(50% - 20px);
}

.founders-sec{
    margin: 40px 0px;
    text-align: center;
}
.founder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    padding: 5px 30px;
}

.founder p{
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    max-width: 500px;
    text-align: center;
}

.testimonials{
    margin-top: 10rem;
}
.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

video{
    width: 25rem;
    height: 40rem;
    /* border-radius: 10%; */
    border: 2px solid white;
    box-shadow: 0 0 8px white;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

img{
    width: 25rem;
    height: 40rem;
    /* border-radius: 10%; */
    border: 2px solid white;
    box-shadow: 0 0 8px white;
    object-fit: fill;
    transition: 0.4s ease-in-out;
}

#myVideo{
    width: 40rem;
    object-fit: fill;
    /* border: none; */
    /* box-shadow: none; */
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:5rem;
}
.testimonial-item{
    min-height: 450px;
    max-width: 450px;
    margin: 0 2rem;
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    color: white;
    transition: 0.4s ease-in-out;

}

video:hover{
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 0px white;
    cursor: pointer;
}
.testimonial-item h2{
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: 900;
}
.testimonial-item p{
    margin-top: 0.5rem;
    font-size: 1.9rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1px;
    color: #b3b2b2;
}

p.sub{
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--main-color);
}

.schedule{
    padding: 0px 3rem;
    text-align: center;
    background: linear-gradient(180deg, #000000 20%, #8e44ad 100%);
    max-width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.schedule p{
    font-size: 2.4rem;
    padding: 2rem 7rem 4rem 7rem;
    font-weight: 700;
}

.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border: 2px solid #fff;
    padding: 5px;
    margin-bottom: 3rem;
    border-radius: 20px;
}
.question button{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.question p.show{
    max-height: 400px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}

#faq{
    padding-top: 8rem;
    margin-bottom: 20%;
}

/* FOOTER */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1px 0;
    background-color: #b2b3b309;
    margin: 0 2px 1rem 2px;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 10px var(--main-color);
}   

.footer .copyright{
    margin: 30px 0;
    text-align: center;
    font-size: 1.6rem;
    color: #b2b3b3;
    font-weight: 700;
}
.copyright span{
    color: var(--main-color);
}

.foot-div{
    position: relative;
}

.foot-div span{
    position: absolute;
    left: 0;
    bottom: 0;
}

.foot-div span a{
    font-size: 2.5rem;
}

.footer .reserved{
    font-size: 1.9rem;
    margin: 10rem 0 2rem 0;
    color: #b2b3b3;
    text-align: center;
}


/* Responsive Code */

@media(prefers-reduced-motion){
    .hide{
        transition: none;
    }
}

@media screen and (max-width: 1140px){
    .body-info p{
        padding: 10px;
    }
    .process {
        padding: 6rem 15px 0px 10px;
        /* background: var(--second-bg-color); */
    }
}
@media screen and (max-width: 910px){
    .founder{
        gap: 2rem;
    }
}
@media only screen and (max-width: 680px) {
    html{
        font-size: 70%;
    }
    .body-info h1{
        font-size: 3.5rem;
        min-width: 300px;
        max-width: 500px;
        max-height: 49px;
    }

    .body-info p{
        font-size: 1.6rem;
        margin: 0;
        padding: 10px;
    }

    p.quote {
        font-size: 1.7rem !important;
    }

    #body-text{
        height: 50vh;
    }
    
    .ag-timeline_line {
        left: 30px;
    }

    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }

    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_box {
        padding: 0 0 20px 0;
    }
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }

    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
        position: absolute;
        left: 29px;
        top: calc(50% - 20px);
    }

    .ag-timeline-card_point {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }

    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px;
    }
    .process {
        padding: 6rem 15px 0px 10px;
        /* background: var(--second-bg-color); */
    }

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: 75px;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .timeline-items {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .timeline-item {
        padding-right: 10px;
        padding-left: 60px;
    }

    .testimonials .wrapper{
        grid-template-columns: repeat(1,1fr);
    }

    .testimonial-item{
        min-height: auto;
    }

    .founder{
        flex-direction: column;
        gap: 4rem;
    }
    .founder p{
        font-size: 1.5rem;
        max-width: 600px;
        padding: 10px 40px;
    }
    .schedule p{
        padding: 2rem 4rem 4rem 4rem;
    }

    .foot-div span a{
        font-size: 1.4rem;
    }
    .footer .reserved{
        font-size: 1.2rem;
    }

    #myVideo{
        height: 30rem;
        width: 30rem;
    }
    .schedule p{
        font-size: 1.7rem;
        padding: 0 2px;
    }

    .heading{
        font-size: 3rem;
    }
}

@media screen and (max-width: 460px){
    body{
        margin: 9px;
    }
    .body-info h1{
        font-size: 3rem;
        max-height: 41px;
    }
    .body-info p{
        font-size: 1.3rem;
        margin: 0;
        padding: 10px;
    }
    #body-text{
        height: 50vh;
    }
    .process {
        padding: 6rem 15px 0px 10px;
        /* background: var(--second-bg-color); */
    }
    #myVideo{
        height: 25rem;
        width: 25rem;
    }
}
